@{
    Layout = null;
}
@model LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login</title>
    <link href="~/css/Account.css" rel="stylesheet" />
</head>
<body>

    <div id="container">
        <div id="output">
            <div class="containerT">
                @*<h1>用户登录</h1>*@
                <form class="form" id="entry_form">
                    <input type="text" placeholder="User" id="account" value="">
                    <input type="password" placeholder="Password" id="password">
                    <input id="returnUrl" name="returnUrl" type="hidden" value="@ViewBag.returnUrl" />
                    <button type="button" id="btn_login">Sign In</button>
                    <div id="prompt" class="prompt"></div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-vector/vector.js"></script>
    <script type="text/javascript">
        $(function () {
            Victor("container", "output");   
            $("#account").focus();
            $(document).keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#entry_btn").click();
                }
            });
            $("#btn_login").click(signInUser);
        });
        var disableLogin = function (flag) {
            if (flag) {
                $('#btn_login').attr('disabled', 'disabled');
            } else {
                $('#btn_login').removeAttr('disabled');
            }
        }
        var getUrlVars = function (name) {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars[name];
        }
        var getHashValue = function (url) {
            var result = {};
            var reg = new RegExp('([\\#|&])(.+?)=([^&?]*)', 'ig');
            var arr = reg.exec(url);

            while (arr) {
                result[arr[2]] = arr[3];

                arr = reg.exec(url);
            }
            return result;
        }
        var signInUser = function () { 
            var accountData = {
                Account: $("#account").val(),
                Password: $('#password').val(),
                //code: $('#validate_Code').val(),
                //clientSecret: $("#clientSecret").val(),
                //clientid: $("#clientid").val(),
                ReturnUrl: $("#returnUrl").val(),
                //Integrated: false  //$('#integrated').is(':checked')
            }
            $.ajax({
                url: '/Account/Login' + '?_t=' + new Date().toString(),
                type: 'POST',
                data: accountData,
                dataType: 'json'
            }).done(function (data) {
                if (data.isAuthenticated) { 
                    var hostUrl = data.hostUrl;
                    var returnUrl = decodeURIComponent(getUrlVars('ReturnUrl'));
                    returnUrl = returnUrl.indexOf('/') == 0 ? 'http://' + hostUrl + returnUrl : returnUrl;       
                    location.href = returnUrl;
                }
            }).fail(function (data) {
                $("#prompt").val();
                disableLogin(false);
            });
        };         
    </script>

</body>
</html>