@{
    Layout = null;
}
@model LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>txt</title>
    <link href="~/css/Account.css" rel="stylesheet" />
</head>
<body>

    <div id="container">
        <div id="output">
            <div class="containerT">
                <h1>用户登录</h1>
                <form class="form" id="entry_form">
                    <input type="text" placeholder="用户名" id="account" value="">
                    <input type="password" placeholder="密码" id="password">
                    <button type="button" id="btn_login">登录</button>
                    <div id="prompt" class="prompt"></div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-vector/vector.js"></script>
    <script type="text/javascript">
        $(function () {
            Victor("container", "output");   //登录背景函数
            $("#entry_name").focus();
            $(document).keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#entry_btn").click();
                }
            });
        });
        var disableLogin = function (flag) {
            if (flag) {
                $('#btn_login').attr('disabled', 'disabled');
            } else {
                $('#btn_login').removeAttr('disabled');
            }
        }
        var signInUser = function () { 
            var $post = {
                Account: $("#account").val(),
                Password: $('#password').val(),
                //code: $('#validate_Code').val(),
                //clientSecret: $("#clientSecret").val(),
                //clientid: $("#clientid").val(),
                //returnUrl: $("#returnUrl").val(),
                Integrated: false  //$('#integrated').is(':checked')
            }
        }; 
    </script>

</body>
</html>