@using RaeClass.Helper;
@{
    ViewData["Title"] = "ReadDetail";
    Layout = "~/Views/Shared/_RaeClassMS_Master_Layout.cshtml";
}
<link href="~/lib/jquery-float/floating.css" rel="stylesheet" />
<link href="~/lib/jquery-float/iconfont.css" rel="stylesheet" />
<link href="~/lib/jquery-page-srocll/pageScroll.css" rel="stylesheet" />

<div class="panel panel-default">
    <!-- 基本信息 Start -->
    <div class="panel" id="formContentBaseInfo" title="基本信息">
        <div class="panel-heading bg-primary">
            <p class="panel-title">
                <span class="panel-title">
                    <b>基本信息</b>
                </span>
            </p>
        </div>
        <div id="unpayBaseInfo" class="panel-body panel-collapse collapse in">
            <div class="form-group">
                <label class="control-label col-sm-1">编号</label>
                <div class="col-sm-3">
                    <input readonly type="hidden" class="form-control" id="_id" name="_id" />
                    <input readonly type="hidden" class="form-control" id="_openid" name="_openid" />
                    <input readonly type="text" class="form-control required" placeholder="文章保存后，系统自动生成" id="fnumber" name="fnumber" />
                </div>
                <label class="control-label col-sm-1">标题</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control required" id="fname" name="fname" />
                </div>
                <label class="control-label col-sm-1">等级</label>
                <div class="col-sm-2">
                    <select required class="form-control" id="flevel" name="flevel">
                        <option value="0"></option>
                        <option value="1">初级</option>
                        <option value="2">中级</option>
                        <option value="3">高级</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="unpayBaseInfo" class="panel-body panel-collapse collapse in">
            <div class="form-group">
                <label class="control-label col-sm-1">文章听力</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="frecordFileId1" name="frecordFileId1" />
                </div>
                <label class="control-label col-sm-1">讲解听力</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="frecordFileId2" name="frecordFileId2" />
                </div>
                <label class="control-label col-sm-1">创建日期</label>
                <div class="col-sm-2">
                    <input readonly type="text" class="form-control" placeholder="系统自动生成" id="fcreateTime" name="fcreateTime" />
                </div>
            </div>
        </div>
    </div>
    <!-- 基本信息 End -->
    <!-- CN文章信息 Start -->
    <div class="panel" id="formContent_CN" title="基本信息">
        <div class="panel-heading bg-primary">
            <p class="panel-title">
                <span class="panel-title">
                    <b>文章内容</b>
                </span>
            </p>
        </div>
        <div class="panel-body panel-collapse collapse in top10">
            <!-- 加载编辑器的容器 -->
            <script id="editor_CN" name="content" type="text/plain">
            </script>
        </div>
    </div>
    <!-- CN文章信息 End -->
    <!-- EN文章信息 Start -->
    <div class="panel" id="formContent_EN" title="基本信息">
        <div class="panel-heading bg-primary">
            <p class="panel-title">
                <span class="panel-title">
                    <b>文章内容</b>
                </span>
            </p>
        </div>
        <div class="panel-body panel-collapse collapse in top10">
            <!-- 加载编辑器的容器 -->
            <script id="editor_EN" name="content" type="text/plain">
            </script>
        </div>
    </div>
    <!-- EN文章信息 End -->
</div>



@section scripts{
    <script src="~/lib/ueditor/ueditor.config.js"></script>
    <script src="~/lib/ueditor/ueditor.all.js"></script>
    <script src="~/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="~/lib/jquery-float/floating.js"></script>
    <script src="~/lib/jquery-page-srocll/pageScroll.js"></script>

    <!-- RaeClass Override Start-->
    <script>
        var fnumber = '@ViewData["fnumber"]';
        RaeClassForm.IsListMode = false;
        RaeClassForm.formContentType = '@ViewData["contentType"]';
        RaeClassForm.initFormContent(fnumber);
    </script>
    <!-- RaeClass Override End-->

}

