<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["contentType"] - RaeClass</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-table.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-treeview.css" />
        <link href="~/css/RaeClassForm.css" rel="stylesheet" />
        <link href="~/lib/jquery-float/floating.css" rel="stylesheet" />
        <link href="~/lib/jquery-float/iconfont.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <style>
        input:focus {
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbanner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/RaeClassMS" class="navbar-brand headNavItem">RaeClass</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="headCategory">
                    <li><a data-contentType="Read" href="/RaeClassMS/FormContent?contentType=Read">Read</a></li>
                    <li><a data-contentType="Listen" href="/RaeClassMS/FormContent?contentType=Listen">Listen</a></li>
                    <li><a data-contentType="Spoken" href="/RaeClassMS/FormContent?contentType=Spoken">Spoken</a></li>
                    <li><a data-contentType="Tech" href="/RaeClassMS/FormContent?contentType=Tech">Tech</a></li>
                </ul>
                <div id="headSearchContent" style="display:none;line-height:50px;color:#ffffff">
                    <input id="headSearchQueryContent" style="width:1000px;padding:0px;margin:0px;border-bottom-width: 0px;border-top-width: 0px;border-left-width: 0px;border-right-width: 0px;background:#222222" name="headSearch" placeholder="请输入查询条件后，Enter键查询" />
                </div>
                <div style="float:right;display:inline;">
                    <ul class="nav navbar-nav">
                        <li><a id="headSearch" href="##"><i class="iconfont icon-Search"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@*&copy; 2018 - RaeClass For My Beloved Rae*@</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-treeview.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-table-locale-all.min.js"></script>
        <script src="~/lib/jquery-float/floating.js"></script>
        <script src="~/js/RaeClassForm.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
        $(function () {
            RaeClassForm.init();
            RaeClassForm.initFloatToolVisibility();
        });
    </script>
    <script type="text/javascript">
        $("#headSearch").click(function () {
            $("#headCategory").css("display", "none");
            $("#headSearchContent").css("display", "inline");
            $("#headSearchQueryContent").focus();
        });
        $("#headSearchQueryContent").blur(function () {
            $("#headCategory").css("display", "inline");
            $("#headSearchContent").css("display", "none");
        });
        $('#headSearchQueryContent').bind('keyup', function (event) {
            if (event.keyCode == "13") {
                var queryStr = $(this).val();
                window.location.href = "/RaeClassMS/FormContentSearch?queryStr=" + queryStr ;
            }
        });        
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
